{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1 align="center">Hello TradeDealer! </h1>
    <div style="margin: 0 auto; width: 350px;">
        {{ include('AppBundle::default/navigation_user.html.twig') }}
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form, {'attr': {'class': 'form-group row', 'action': '/app_dev.php/callback'} } ) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}


