{% extends 'AppBundle::base.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block body %}
    <h1 align="center">Hello TradeDealer! </h1>
    <h2 align="center">{{ 'callback.form_success.message'|trans  }} </h2>
{% endblock %}




