{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="news-column">
        {{ include('AppBundle:default:navigation_user.html.twig') }}
        <h1>Новости</h1>
        {%if is_granted('ROLE_MANAGER')%}
            <news-list></news-list>
        {%endif%}
    </div>
{% endblock %}
