<nav>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" ng-click="[viewby(0), setPage(1)]">&larr;</a>
        </li>

        <li class="page-item">
            <a ng-if="(currentPage <= totalPages) && ((currentPage-2) > 0)" ng-click="[viewby((currentPage-2)*10-10), setPage(currentPage-2)]" class="page-link" href="#">[[ currentPage - 2]]</a>
        </li>

        <li class="page-item">
            <a ng-if="(currentPage <= totalPages) && ((currentPage-1) > 0)" ng-click="[viewby((currentPage-1)*10-10), setPage(currentPage-1)]" class="page-link" href="#">[[ currentPage - 1]]</a>
        </li>

        <li class="page-item active">
            <a ng-click="[viewby(currentPage*10-10), setPage(currentPage)]" class="page-link" href="#">[[ currentPage ]]</a>
        </li>

        <li class="page-item">
            <a ng-if="currentPage < totalPages && currentPage+1 <= totalPages" ng-click="[viewby((currentPage+1)*10-10), setPage(currentPage+1)]" class="page-link" href="#">[[ currentPage + 1]]</a>
        </li>

        <li class="page-item">
            <a ng-if="currentPage < totalPages && currentPage+2 <= totalPages" ng-click="[viewby((currentPage+2)*10-10), setPage(currentPage+2)]" class="page-link" href="#">[[ currentPage + 2]]</a>
        </li>

        <li class="page-item">
            <a class="page-link" ng-class="{disabled: disabled}" href="#" ng-click="[viewby(totalItems-10), setPage(totalPages)]">&rarr;</a>
        </li>
    </ul>
</nav>

<div class="media" ng-repeat="item_news in news">
    <div class="media-left media-middle">
        <a href="[[ item_news.uri ]]">
            <img class="media-object" src="[[ item_news.thumbnails ]]" ng-if="item_news.thumbnails != null" alt="...">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading"><a href="[[ item_news.uri ]]">[[ item_news.title ]]</a></h4>
        <h5><em><b>[[ item_news.publication_date ]]</b></em></h5>
        [[ item_news.description ]]
    </div>
</div>