.news-column {
    margin: 0 auto;
    padding-top: 30px;
    width: 1230px;
}
    .news-column-date {
        width: 120px;
    }
.nav-menu {
    padding-left: 0px;
}
.nav-menu li {
     display: inline-block;
     list-style: none;
}

.login-align {
    width: 500px;
    margin: 0 auto;
    padding-left: 50px;
}

.callback-form {
    margin: 0 auto;
    width: 410px;
}

.lang-bar {
    margin-left: 45%;
    margin-top: 50px;

}

span.lang-bar {
    display: block;
    margin-left: 35%;
    margin-top: 50px;
}